<ion-content>
  <div class="home">
    <img loading="lazy" src="../../../assets/pg-h.png" class="home-bg" />
    <img loading="lazy" src="../../../assets/thumbnail_Logo-QualiRéparFlash_Bleu+Orange.png" class="home-icon" />
    <div class="home-title">Bienvenue !</div>
    <div class="home-text">
      Prêt à commencer <br> votre demande de remboursement
    </div>
    <div class="home-text">
      Notre moteur vous permet de préremplir votre demande de remboursement en chargeant la facture pour gagner du
      temps. </div>
    <br>
    <div class="ion-button-success home-action">
      <ion-button (click)="onCreate()">Créer votre demande</ion-button>
    </div>
  </div>
</ion-content>












<!-- 
<div class="home-text">
  Veuillez renseigner les informations nécessaires pour procéder à votre
  demande de remboursement.
</div> -->




<!-- <ion-list [inset]="true">
  <ion-item [button]="true" [detail]="false" id="select-fruits">
    <ion-label>Favorite Fruits</ion-label>
   <div slot="end" id="selected-fruits">{{ selectedFruitsText }}</div>
  </ion-item>
</ion-list>

<ion-modal trigger="select-fruits" #modal>
<ng-template>
  <app-typeahead
    class="ion-page"
    title="Favorite Fruits"
    [items]="fruits"
    [selectedItems]="selectedFruits"
    (selectionChange)="fruitSelectionChanged($event)"
    (selectionCancel)="modal.dismiss()"
  ></app-typeahead>
</ng-template>
</ion-modal>
<div class="div-7">Vérifier</div> -->