@import "/src/app/styles/variables.scss";

ion-row {
    @media only screen and (max-width: $md-screen) {
        display: block;
    }
}

.col-form {
    max-width: 80%;

    .bg-white {
        padding-bottom: 10px;
    }

    @media only screen and (max-width: $md-screen) {
        max-width: 100%;
    }
}

.col-title {
    max-width: 20%;
    align-items: flex-start;

    @media only screen and (max-width: $md-screen) {
        max-width: 100%;
    }
}

.border-bottom {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 10px 10px;
}

ion-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    --border-radius: 4px;
}

ion-label {
    padding-left: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

ion-item {
    --border-color: #CBD5E1;
    --border-width: 1px;
    --border-radius: 4;
    --color: black !important;
    --detail-icon-color: white;
    --detail-icon-opacity: 1;
    --detail-icon-font-size: 20px;
    padding: 5px;
    --inner-border-width: 0;
    --border-radius: 6px;
    padding-bottom: 0;
    .file{
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(8, 133, 134, 0.42);
        --border-color:  rgba(8, 133, 134, 0.42);
        &-name{
            width: 100%;
            margin: 0;
            line-height: 12px;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &-size{
            font-size: 10px;
            margin-top: -14px;
            color: #8C8C8C;
        }
    }
}


.floating-label {
    position: relative;

}

.floating-label label {
    position: absolute;
    top: 01;
    left: 0;
    pointer-events: none;
    transition: all 0.2s ease;
    color: rgb(0, 0, 0);
}


.floating-label label.floating {
    font-size: 12px;
    margin-top: 20px;
    transform: translateY(-20px);
}

.input-instruction {
    position: absolute;
    top: 50%;
    /* Adjust these values based on your actual ng-select styling */
    left: 10px;
    transform: translateY(-50%);
    color: #666666;
    /* You can change color to match your design */
    pointer-events: none;
    /* Ensures clicks go through this element to the input below */
    font-size: 16px;
    padding-left: 10px !important;
    margin-top: 9px
}