<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Type de produit</ion-title>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-searchbar placeholder="Rechercher" (ionInput)="onZipCodeSearch($event.target.value)"
      fill="outline"></ion-searchbar>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" color="dark" *ngIf="filtredZipCodes.length === 0"></ion-progress-bar>
</ion-header>
<ion-content color="light" class="ion-padding">
  <ion-list *ngIf="filtredZipCodes.length > 0">
    <ion-item *ngFor="let item of filtredZipCodes;">
    </ion-item>
  </ion-list>
</ion-content> -->